## Settings file was created by plugin LethalCasino v0.5.4
## Plugin GUID: mrgrm7.LethalCasino

[Master config]

## Quick config for difficulty of the casino (REALISTIC, FUN, or OP). NOTE: If this value is set, then all other configurations below are ignored. Delete this value if you want to set custom configurations below.
# Setting type: String
# Default value: FUN
OverallDifficulty = FUN

[Roulette - Probabilities]

## (0-100) Increasing this number will rig the roulette wheel to land on selected bets more often. 0 = completely realistic roulette. 100 = roulette always lands on a winning bet.
# Setting type: Single
# Default value: 0
RouletteLuckiness = 0

[Slot Machines - Probabilities]

## Chance of landing on 3 skulls (lose all value)
# Setting type: Single
# Default value: 13.5
SlotsChanceThreeSkulls = 13.5

## Chance of no matches (lose half value
# Setting type: Single
# Default value: 41
SlotsChanceNoMatches = 41

## Chance of 2 matching icons (1.5x multiplier)
# Setting type: Single
# Default value: 35.5
SlotsChancePair = 35.5

## Chance of 3 matching fruits (2x multiplier)
# Setting type: Single
# Default value: 7
SlotsChanceThreeMatchFruits = 7

## Chance of 3 matching bars or bells (3x multiplier)
# Setting type: Single
# Default value: 2
SlotsChanceThreeMatchBarsOrBells = 2

## Chance of all 7s (10x multiplier)
# Setting type: Single
# Default value: 1
SlotsChanceThreeMatchSevens = 1

